<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Soundboard Interface</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
    
      <h3>EZ-Beats</h3>
      <p id="percussion">
       
          <button type="button"  class="percusion btn btn-lg btn-primary">1</button>
          <button type="button"  class="percusion btn btn-lg btn-primary">2</button>
          <button type="button"  class="percusion btn btn-lg btn-primary">3</button>
          <button type="button"  class="percusion btn btn-lg btn-primary">4</button>
          <button type="button"  class="percusion btn btn-lg btn-primary">5</button>
        </p>
     <p>
      <button class="clear btn btn-lg btn-default">Clear</button>
    </p>
   
  </div>
</div>
</body>

</html>
