<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Soundboard Interface</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
    
      <h1 class="eztitle">EZ-Beats</h1>
      <p id="bonus">
       
          <button type="button"  class="bonus btn btn-lg btn-primary" id="1_1">B1</button>
          <button type="button"  class="bonus btn btn-lg btn-primary" id="1_2">B2</button>
          <button type="button"  class="bonus btn btn-lg btn-primary" id="1_3">B3</button>
          <button type="button"  class="bonus btn btn-lg btn-primary" id="1_4">B4</button>
          <button type="button"  class="bonus btn btn-lg btn-primary" id="1_5">B5</button>
        </p>

        <p id="voices">
       
          <button type="button"  class="voices btn btn-lg btn-primary" id="2_1">V1</button>
          <button type="button"  class="voices btn btn-lg btn-primary" id="2_2">V2</button>
          <button type="button"  class="voices btn btn-lg btn-primary" id="2_3">V3</button>
          <button type="button"  class="voices btn btn-lg btn-primary" id="2_4">V4</button>
          <button type="button"  class="voices btn btn-lg btn-primary" id="2_5">V5</button>
        </p>

        <p id="melodies">
       
          <button type="button"  class="melodies btn btn-lg btn-primary" id="3_1">D1</button>
          <button type="button"  class="melodies btn btn-lg btn-primary" id="3_2">D2</button>
          <button type="button"  class="melodies btn btn-lg btn-primary" id="3_3">D3</button>
          <button type="button"  class="melodies btn btn-lg btn-primary" id="3_4">D4</button>
          <button type="button"  class="melodies btn btn-lg btn-primary" id="3_5">D5</button>
        </p>

        <p id="effects">
       
          <button type="button"  class="effects btn btn-lg btn-primary" id="4_1">E1</button>
          <button type="button"  class="effects btn btn-lg btn-primary" id="4_2">E2</button>
          <button type="button"  class="effects btn btn-lg btn-primary" id="4_3">E3</button>
          <button type="button"  class="effects btn btn-lg btn-primary" id="4_4">E4</button>
          <button type="button"  class="effects btn btn-lg btn-primary" id="4_5">E5</button>
        </p>

        <p id="percussion">
       
          <button type="button"  class="percussion btn btn-lg btn-primary" id="5_1">P1</button>
          <button type="button"  class="percussion btn btn-lg btn-primary" id="5_2">P2</button>
          <button type="button"  class="percussion btn btn-lg btn-primary" id="5_3">P3</button>
          <button type="button"  class="percussion btn btn-lg btn-primary" id="5_4">P4</button>
          <button type="button"  class="percussion btn btn-lg btn-primary" id="5_5">P5</button>
        </p>
     <p>
      <button class="clear btn btn-lg btn-default">Clear</button>
    </p>
   
  </div>
</div>
</body>

</html>
