<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Regan</h1>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </body>
</html>
