/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 

 @font-face {
    font-family: 'ghang_plain_';
    src: url('ghang_plain-webfont.eot');
    src: url('ghang_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('ghang_plain-webfont.woff2') format('woff2'),
         url('ghang_plain-webfont.woff') format('woff'),
         url('ghang_plain-webfont.ttf') format('truetype'),
         url('ghang_plain-webfont.svg#ghang_plain_') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* basic reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background gradient */

body{
  /*height: 100%;*/
  background-image: url(shattered.png);

}
h5{
  color: rgb(47, 47, 47);
  font-size: 20px;
  background-color: transparent;
  text-shadow: rgb(168, 163, 163) 1px 1px 0px;
}

p{
  width: 550px;
}

h1.eztitle{
  text-align: center;
  color: white;
  font-family: 'ghang_plain_';
  font-size: 80px;
  margin-top: 35px;
  text-shadow: -4px 6px 3px #000;
  -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #2F0A7F;
    -webkit-text-stroke-width: 2px;
    text-fill-color: #fff;
    text-stroke-color: #a4a4a4;
    text-stroke-width: 1px;
}

.jumbotron h1{
  color: white;
  font-family: 'ghang_plain_';
}

div.jumbotron{
  width: 600px;
  margin-top: 30px;
  padding-top: 10px;
  background-image: url(grey_wash_wall.png);
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
   
}

div.container{
  width: 535px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

span.toggle-handle{
  display: none;
}

label.toggle-off.btn{
  padding-left: 10px;
  padding-top: 13px;

}

label.toggle-on.btn{
  padding-right: 15px;
  padding-top: 13px;
  background-color: #a2a2a2;
  border-color: #FF00E7;
}

div.toggle.btn{
  min-width: 54px;
  min-height: 46px;
}

div.toggle.btn.btn-primary{
  border-color: #44FF1B;
  border-width: 7px;

  -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: blue;}
    100% {border-color: #7FFF00;}
}

/* Standard syntax */
@keyframes example {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: blue;}
    100% {border-color: #7FFF00;}
}
