
@font-face {
    font-family: myFirstFont;
    src: url(Ghang_Plain.ttf) format(truetype);
}
/* basic reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background gradient */

body{
  /*height: 100%;*/
  background-image: url(shattered.png);
  
}

p{
  width: 315px;
}

.jumbotron h1.eztitle{
  color: white;
  font-family: myFirstFont;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px #000;
}

.jumbotron h1{
  color: white;
  font-family: myFirstFont;
}

div.jumbotron{
  width: 400px;
  margin-top: 50px;
  background-image: url(grey_wash_wall.png);
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black;
     -moz-box-shadow: 0 30px 15px -6px black;
          box-shadow: 0 30px 15px -6px black;
   /*box-shadow: 1px 20px 15px #000;*/
}

div.container{
  width: 335px;
  margin-right: auto;
  margin-left: auto;
}

span.toggle-handle{
  display: none;
}

label.toggle-off.btn{
  padding-left: 10px;
  padding-top: 13px;
  
}

label.toggle-on.btn{
  padding-right: 15px;
  padding-top: 13px;
  background-color: #a2a2a2;
  border-color: #FF00E7;
}

div.toggle.btn{
  min-width: 54px;
  min-height: 46px;
}

div.toggle.btn.btn-primary{
  border-color: #44FF1B;

  -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: blue;}
    100% {border-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: blue;}
    100% {border-color: green;}
}