/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 

 @font-face {
    font-family: 'ghang_plain_';
    src: url('ghang_plain-webfont.eot');
    src: url('ghang_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('ghang_plain-webfont.woff2') format('woff2'),
         url('ghang_plain-webfont.woff') format('woff'),
         url('ghang_plain-webfont.ttf') format('truetype'),
         url('ghang_plain-webfont.svg#ghang_plain_') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* basic reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background gradient */
.fa-headphones{
  margin-top: 5px;
   -webkit-text-fill-color: #FF7112;
    -webkit-text-stroke-color: #FF7112;
    -webkit-text-stroke-width: 2px;
}
body{
  /*height: 100%;*/
  background-image: url(brick-wall.jpg);

}
h5{
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: transparent;
  text-shadow: rgb(237, 232, 232) 1px 1px 0px;
}

p#songs{
  width: 660px;
}





.eztitle{
 /* width: 700px;*/
  text-align: center;
  background-color: rgba(86, 200, 202, .9);
  /*-webkit-animation-name: back;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;*/

  font-family: 'ghang_plain_';
  font-size: 80px;
  margin-top: -20px;
  text-shadow: -4px 6px 3px #000;
  -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #FF7112;
    -webkit-text-stroke-width: 2px;
    text-fill-color: white;
    text-stroke-color: #FF7112;
    text-stroke-width: 1px;
}



 @-webkit-keyframes back {
     0%   {background-color: rgba(6, 249, 255, .9);}
     25%  {background-color: rgba(6, 255, 43, .9);}
     50%  {background-color: rgba(255, 68, 6, .9);}
     100% {background-color: rgba(254, 6, 255, .9);}

 }



/*@-webkit-keyframes back {
  0%   {background-color: rgba(6, 249, 255, .9);}
    25%  {background-color: rgba(6, 255, 43, .9);}
    50%  {background-color: rgba(255, 68, 6, .9);}
    100% {background-color: rgba(254, 6, 255, .9);}

}*/




#board.jumbotron h1{
  color: white;
  font-family: 'ghang_plain_';
}

#board{
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 10px;
  background-image: url(grey_wash_wall.png);
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;  
}



.home.container-fluid{
  margin-top: 20px;
  margin-right: auto;
  margin-left: 5%;
  padding: 0;
}

.container .jumbotron, .container-fluid .jumbotron{

  padding-left: 20px;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
 
}

.up.col-sm-4 {
  padding: 30px;
  /*width: 350px;
  height: 600px;*/
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

.up.col-md-8 {
  padding: 30px;
  /*width: 630px;
  height: 600px;*/
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

.up.container-fluid{
   margin: 20px 20px 100px 20px;
}
.edit.container-fluid{
  padding: 30px;
  margin: 20px 20px 100px 20px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

.field{
  margin-bottom: 20px;
}

.about.container-fluid{
  padding: 30px;
  margin: 20px 20px 100px 20px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

ul li{
  text-decoration: none;
  list-style-type: none;
  
}

ul{margin-bottom: 60px;}

.index.container-fluid{
  padding: 30px;
  margin: 20px 20px 100px 20px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

.songs.container-fluid{
  padding: 30px;
  margin: 20px 20px 100px 20px;
  /*width: 980px;
  height: 800px;*/
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}
.login.container{
   padding: 30px;
  width: 980px;
  height: 800px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

.signup.container{
   padding: 30px;
  width: 980px;
  height: 800px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
     -moz-box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
          box-shadow: 0 30px 15px -6px black, inset 0 0 10px #000000;
}

span.toggle-handle{
  display: none;
}

label.toggle-off.btn{
  padding-left: 10px;
  padding-top: 13px;

}

label.toggle-on.btn{
  padding-right: 15px;
  padding-top:6px;
  border-color: #FF00E7;
}

div.toggle.btn{
  min-width: 54px;
  min-height: 46px;
  margin: 5px;
}



div.toggle.btn.btn-primary{
  border-color: #FF4E0B;
  border-width: 7.5px;

  -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}    


/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {border-color: #E8640A;}
    25%  {border-color: #FF9418;}
    50%  {border-color: #E8990A;}
    100% {border-color: #FFBE0D;}
}

/* Standard syntax */
@keyframes example {
    0%   {border-color: #E8640A;}
    25%  {border-color: #FF9418;}
    50%  {border-color: #E8990A;}
    100% {border-color: #FFBE0D;}

}



.actions{
  margin-top: 10px;
}

footer{
  text-align: center;
  font-weight: bold;
  color:#FF7112;
  background-color: rgba(0, 0, 0, .8);
  margin-bottom: 50px;
}

