/* basic reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  background: black;
  background: radial-gradient(circle, #000 20%, #ccc);
	background-size: cover;

}

p{
  width: 315px;
}

.jumbotron h1.eztitle{
  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 5px #000;
}

.jumbotron h1{
  color: white;
}


div.jumbotron{
  width: 400px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: gray;
}

div.container{
  width: 335px;
  margin-right: auto;
  margin-left: auto;
}

span.toggle-handle{
  display: none;
}

label.toggle-off.btn{
  padding-left: 10px;
  padding-top: 13px;

}

label.toggle-on.btn{
  padding-right: 15px;
  padding-top: 13px;
  background-color: #a2a2a2;
  border-color: #FF00E7;
}

div.toggle.btn{
  min-width: 54px;
  min-height: 46px;
}

div.toggle.btn.btn-primary{
  border-color: #48E51D;
}

/*label.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open >
.btn-primary
.dropdown-toggle{

background-color: red;


}*/
