<h1>Saved Sounds</h1>
    
<div class="jumbotron">
  <div class="container-fluid">


<% @mixes.each do |mix| %>
<% next if mix.songs == [] %>
<div>    

  <%= link_to "", '#', class: "btn btn-lng btn-lg btn-primary mix_#{mix.id}", onclick: "return false", id:"play" %>


  <% Dir.foreach("#{Dir.getwd}/public/audios").with_index do |folder, dir_index| %>
    <% next if folder == '.' || folder == '..' || folder == '.DS_Store' %>
    
    <% Dir.foreach("#{Dir.getwd}/public/audios/#{folder}").with_index do |song, index| %>
      <% next if song == '.' || song == '..' || song == '.DS_Store' %>
      <% next if mix.songs == [] %>
      <% sound = mix.songs %>
      <% dir = Dir.chdir("#{Dir.getwd}") %>
      
      <% sound.each do |id| %>  
        <% if id[0].to_i == dir_index && id[2].to_i == index %>
          <%= audio_tag "#{folder}/#{song}", class: "audio_play mix_#{mix.id}_sound", id:"mix_#{mix.id}_sound" %>
          

        <% end %>
      <% end %>
    <% end %> 
  <% end %>  
</div>
<% end %>

</div>
</div>

<script type="text/javascript">

$(function(){

    function get_audio_element(native_div) {
      var $div = $(native_div);
      var $mix = []
      $('audio').each(function(index, elem) {
        if ($(elem).attr('class').split('audio_play ')[1] == $div.attr('class').split('btn-primary ')[1] + "_sound"){
          $mix.push(elem);
        };
      });
      return $mix 
    };


    $(function() {
      $(".btn-lg").on("click", function(event) {
        var $audio = get_audio_element(this);
        $($audio).each(function(index, elem) {
        if (elem.currentTime != 0){
            elem.pause();
            elem.currentTime = 0;
          } else {  
            elem.currentTime = 0;
            elem.play();
          };
        });
      });
    });
});   


</script>


