<h1 class="eztitle">Saved Sounds</h1>
    
<div class="jumbotron">
  <div class="container">


<% @mixes.each do |mix| %>
<% next if mix.songs == [] %>
<div>    

  <%= link_to "", '#', class: "btn btn-lng btn-lg btn-primary btn-warning mix_#{mix.id}", onclick: "return false", id:"play" %>


  <% Dir.foreach("#{Dir.getwd}/public/audios").with_index do |folder, dir_index| %>
    <% next if folder == '.' || folder == '..' || folder == '.DS_Store' %>
    
    <% Dir.foreach("#{Dir.getwd}/public/audios/#{folder}").with_index do |song, index| %>
      <% next if song == '.' || song == '..' || song == '.DS_Store' %>
      <% next if mix.songs == [] %>
      <% sound = mix.songs %>

      <% sound.each do |id| %>  
        <% if id[0].to_i == dir_index && id[2].to_i == index %>
          <%= audio_tag "#{folder}/#{song}", class: "audio_play mix_#{mix.id}_sound", id:"#{dir_index}_#{index}" %>
        <% end %>
      <% end %>
    <% end %> 
  <% end %>  
<% end %>

</div>

<script type="text/javascript">

$(function(){

    function get_audio_element(native_div){
      var $div = $(native_div);
      var $id = $div.attr('class');
      $.each( $('audio'), function() {
        if ($(this).attr('class').split('audio_play ')[1] == $div.attr('class').split('btn-warning ')[1] + "_sound"){
          return $(this);
        };
      });
    };


    // $("#play").on("click", function(event) {
    //   var $div = $(this);
    //   var $audio_element = get_audio_element(this);
    //   if ($audio_element.play() == true){
    //     $audio_element[0].pause();
    //     $audio_element[0].currentTime = 0; 
    //   }
    // });


    $(function() {
      $("#play").on("click", function(event){
        var $audio = get_audio_element(this);
        $audio.all.currentTime = 0;
        $audio.all.play();
      });
    });
});   

</script>


