<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Soundboard Interface</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- Toggle button links -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/stylesheets/basicinterface.css.scss">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
</head>


<body>
  
  <h1 class="eztitle">EZ-Beats</h1>
  <div id="board"class="jumbotron">
    <div class="home container-fluid">

       <% Dir.foreach("#{Dir.getwd}/public/audios").with_index do |folder, dir_index| %>
            <% next if folder == '.' || folder == '..' || folder == '.DS_Store' %>
              <% Dir.foreach("#{Dir.getwd}/public/audios/#{folder}").with_index do |song, index| %>
                <% next if song == '.' || song == '..' || song == '.DS_Store' %>
                <%= audio_tag "#{folder}/#{song}", class: "audio_play", id:"#{dir_index}_#{index}_sound" %>
                <%= form.check_box "#{dir_index}_#{index}", checked: @mix.is_checked?("#{dir_index}_#{index}_sound"), data: {toggle: 'toggle'}, class: "songs btn btn-lg btn-primary", id:"#{dir_index}_#{index}" %>
                <% end %>   
        <% end %>

        <div>
          <%= form.submit 'Save This Sound!', class: "btn btn-default" %>

    </div>
        <!-- I don't know where your P tag starts, hussie -mike the muscle russell -->
        </p>


  <button class="btn btn-primary" onclick="toggleOffByInput()">Reset</button> 


  </div>
   
</div>
  
     
<footer><small>&copy;Copyright 2015</small></footer>
</body>


<script type="text/javascript">



function toggleOffByInput() {
    $('.songs').prop('checked', false).change();
    
    
  }

$(function(){
    $('#toggle-one').bootstrapToggle();
    function get_audio_element(native_div){
      var $div = $(native_div);
      var $checkbox = $div.find('input');
      var id = $checkbox.attr('id');
      return $("#"+id+"_sound");
    };

    $("div.toggle").on("click", function(event) {
      var $div = $(this);
      var $audio_element = get_audio_element(this);
  
      if (!$div.hasClass('off')){
        $audio_element[0].pause();
        $audio_element[0].currentTime = 0; 
      }
    });



    setInterval(function() {
      $("div.toggle:not(.off)").each(function(){
        var $audio = get_audio_element(this);
        $audio[0].currentTime = 0;
        $audio[0].play();
      });
    }, 7500);
});   








</script>

